<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <h1>Hi</h1>
    <% for(var i = 0; i < studentsArray.length; i++){ %>
        <div class="col-sm-12 student">
            <a href="'">
                <%= studentsArray[i]%>
            </a>

        </div>
    <% } %>

    <% title %>
    <% for(var i=0; i < 10; i++){ %>
        <li><%=i %> </li>
    <% } %>



</body>
</html>