<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This is an EJS pate</h1>
    <h1> the weather in atlanta is currently <%= weatherObject.main.temp%></h1>


</body>
</html>